* {
    margin: 0; /*auto*/
    padding: 0%;
    box-sizing: border-box;
}

.video-cont {
    position: fixed;
    top: 0%; /*0*/
    left: 0%;
    width: 100vw;
    height: 100vh;
    overflow: scroll; /*scroll*/
    background: rgb(154, 178, 223);
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
